*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    
    margin: 0;
    padding: 0;
    font-weight: 600;
    
    

    
        
}
#cv a{
    text-decoration: none;
}

ul li{
    display:inline;
    padding: 5px;
    font-size: 20px;
    
    color: white;
}

.navbar{
    background-color: black;
    padding:25px;
}

ul li a{
    text-decoration: none;
    color: white;
    padding:10px;
}
ul li  :hover{
    color: white;
    background-color: orangered;

}
#menu, #x{
    display: none;
    color: white;
    padding: 10px;
}

@media screen and (max-width:900px){
    #hoo{
        display:none;
    }
    #menu, #x{
        display:inline;
    }
    nav ul li{
        display: block;
    }
}

.intro{
    
height: 125vh;
background-image: url(hemu/oceanbg.jpg);
background-size: 100% 100%;
background-position: center;
position: relative;
overflow: hidden;

    
}
#mybtn{
    padding: 5px;
    margin: 10px;
}
.aboutme{
    color: white;
    background-color: black;
    margin:0%;
    overflow:hidden;
    padding:0;
    margin:0;
}
h3{
    color:hotpink;
}




#quote{
    height: 150px;
    color: white;
}
.button1{
    margin-bottom:20px;
    background-color: pink;
    border-radius: 40%;
}

h1 {
    margin:0%;
    background-color: turquoise;
    padding: 2%;
}
h3{
    border-bottom-color: greenyellow;
    color: gray;
    text-decoration:underline;
}
h4{
    color: grey;
}
img{
    height:150px;
    width:150px;
    margin-top:20px;
    border-radius: 50%;
}

#ad{
    float:left;
    display:block;
    border-color: chartreuse;
    width: 30%;
    height:220px;
}
#pp{
    float: right;
    width: 70%;
    height: 220px;
    
    
}
#ed{
    float:left;
    width: 30%;
    height: 400px;
}
#ppp{
    float:right;
    width: 70%;
    height:400px;
}
#sk{
    float: left;
    width: 30%;
    height:230px;
}
#qp{
    float: right;
    width: 70%;
    height:230px;
}
#re{
    float: left;
    width: 30%;
    height:300px; 
}
#tp{
     float: right;
    width: 70%;
    height:300px;}


#wo{
    float: left;
    width: 30%;
    height:200px;
}
#ep{
    float: right;
    width: 70%;
    height:200px;
}
#pr{
    float: left;
    width: 30%;
    height:300px;
}
#rp{
    float: right;
    width: 70%;
    height:300px;
}
#la{
    float: left;
    width: 30%;
    height:130px;
    }
#wp{
     float: right;
     width: 70%;
     height:130px
     }
 
.fafa-heart{
    color: red;
}
.one{
    background-image: url(hemu/specs.jpg);
    background-size: 100% 100%;
    
    
}
#cv{
    padding:10px;
    margin: 10px;
    
}
footer{
    padding-top:0px;
    background-color: turquoise;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom:-100px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
 animation-delay: 2s;
 height:90px;
 width:90px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    height:65px;
    width:65px;
   }
   .bubbles img:nth-child(3){
    animation-delay: 3s;
    height:70px;
    width:70px;
   }
   .bubbles img:nth-child(4){
    animation-delay: 4.5s;
    height:55px;
   }
   .bubbles img:nth-child(5){
    animation-delay: 3s;
    height:40px;
    width:40px;
   }
   .bubbles img:nth-child(6){
    animation-delay: 6s;
    height:80px;
    width:80px;
   }
   .bubbles img:nth-child(7){
    animation-delay: 7s;
    height:55px;
    width:55px;
   }
